<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.ex02.mapper.CartMapper">

	<select id="select" resultType="CartListVO">
	SELECT a.cid,  a.userid, a.pid, a.ccount,
	b.pname, b.pprice, b.pimage1 
	FROM carts a
	inner join products b
		on a.pid=b.pid 
	ORDER BY ${COL_CID} DESC
	</select>
	
	<select id="selectByCid" resultType="Cart">
    SELECT * FROM ${TABLE_CARTS} 
    WHERE ${COL_CID} = #{cid}
    </select>
	
	<insert id="insert">
	INSERT INTO ${TABLE_CARTS} (${COL_USERID}, ${COL_PID}, ${COL_CCOUNT}) 
    VALUES (#{userid}, #{pid}, #{ccount})	
	</insert>
	
	<update id="update">
	UPDATE ${TABLE_CARTS}
    SET ${COL_CCOUNT} = #{ccount}
    WHERE ${COL_CID} = #{cid}
	</update>
	
	<delete id="delete">
	DELETE FROM ${TABLE_CARTS} WHERE ${COL_CID} = #{cid}
	</delete>
</mapper>	

